.usersWrapper {
  padding-left: 20px;
}

/*  Pagination */

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

.userPhoto {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
.buttons-card {
  margin-left: 50px;
}
.cardItem {
  width: 250px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: #91edd9;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-button {
  margin-right: 50px;
  margin-top: 10px;
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
}
.card-button:hover {
  background: #1d49aa;
}

.card-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.card-button[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}

/*  *******  Filters ********   */
.form-button {
  text-decoration: none;
  display: inline-block;
  padding: 4px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #698fdb 100%
  );
  background-position: 100% 0;
  background-size: 100% 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(247, 241, 242);
  box-shadow: 0 4px 8px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
}
.form-button:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.select-followers {
  margin-left: 5px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 20%;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-followers:hover {
  border-color: #888;
}
.select-followers:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}
.select-followers option {
  font-weight: normal;
}
.input-search {
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  padding: 10px 10px;
  background: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 20px;
  outline: none;
  font-size: 13px;
  color: #222;
  font-weight: 500;
}
