.FormControl.error textarea {
    border: 2px solid red;
}

.FormControl.error span {
    color: red
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
    margin: 5px;
}