.dialogsWrapper {
  background: #004ff9;
  background: -webkit-linear-gradient(to left, #004ff9, #fff94c);
  background: linear-gradient(to left, #004ff9, #fff94c);
  height: 43vw;
}
.dialogs {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.dialogsItems a {
  text-decoration: none;
}

.dialogsItems a:hover {
  color: black;
  font-weight: 500;
}
