.loginBlock a {
  color: aliceblue;
  text-decoration: none;
}

.loginBlock a:hover {
  color: gold;
}

.loginBlock {
  color: aliceblue;
}

.login {
  color: aliceblue;
  margin-left: 10px;
  margin-right: 10px;
}
